<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table >
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>

        {%if user_data %}
            {% for data in user_data %}
                <tr>
                    <td>{{data.first_name}}</td>
                    <td>{{data.last_name}}</td>
                    <td>{{data.email}}</td>
                </tr>
            {%endfor%}
        {%endif%}
    </table>
</body>
</html>